*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.main-container{
    width: 100%;
    min-height: 100vh;
    padding-top: 1rem;
    background: linear-gradient( rgb(132, 196, 15),rgb(12, 12, 34));
  
}

.to-do-app{
    width: 100%;
    max-width: 540px;
    margin: 50px auto;
    padding: 40px 30px 70px;
    border-radius: 10px;
    background-color: rgb(201, 211, 219);
}

.to-do-app h2{
    margin-bottom: 20px;
    color: #310d94;
}
.list-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(172, 165, 155);
    padding-left: 30px;
    margin-bottom: 10px;
    border-radius: 30px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    font-size: 18px;
    background: transparent;
    padding: 10px;
    font-weight: 16px;
}button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #5a2adf;
    color: white;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
}

.list-style{
    list-style: none;
    margin-bottom: 8px;
    font-size: 18px;
    user-select: none;
    padding: 10px 5px 8px 30px;
    cursor: pointer;
    position: relative; 
}

.list-style::before{
    content: " ";
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(images/uncecked.png);
    background-size: contain;
    background-position: center;
    left: -8px;
    top: 3px;
}

.Checked{
    color: #6b6363;
    text-decoration: line-through;
}

.Checked::before{
    background-image: url(images/pngtree-check.jpg);
}

span{
    position: absolute;
    right: 8px;
    top: 3px;
    width: 30px;
    height: 30px;
    font-size: 28px;
    background: red;
    border-radius: 50%;
    color: #645757;
    text-align: center;  

span:hover{
    background: #9ab2ca;
}


@media screen and (max-width: 530px){
    .main-container{
        padding-top: 1rem;

    }
    .to-do-app{
        width: 100%;
        margin-top: 20px;
        max-width: 500px;
        padding: 20px 1px 30px;
        border-radius: 10px;
        background-color: rgb(201, 211, 219);
    }
    
}